* {
    font-family: Arial, Helvetica, sans-serif;
}

/* --- header section start --- */
header{
    height: 110px; 
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.search_bar{
    height: 20px;
    width: auto;
    float: left;
    display: flex;
}

.link_wrapper{
    display: flex;
    text-decoration: none;
}
/* --- header section end --- */

/* --- footer section start ---  */
footer{
    height:auto;
    width: auto;
    margin:auto;
    background-color: #262626;
    text-decoration-color: #FFFFFF;
}

.image_logo{
    width: 100%;
    text-align: center;
}

.faq a{
    text-decoration: underline;
}
/* --- footer section end --- */